table {
    border: 100cap;
}
.a {
    background-color: rgb(229, 255, 0);
}
.m {
    background-color: rgb(183, 150, 236);
}
.c {
    background-color: rgb(96, 240, 151);
}
.n {
    background-color: rgb(194, 235, 221);
}
.p {
    background-color: rgb(238, 202, 159);
}
.i {
    background-color: aquamarine;
}
.r {
    background-color: pink;
}
.f {
    background-color: rgb(0, 252, 0);
}
.g {
    background-color: grey;
}
.e {
    background-color: red;
}